*{
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --ligth-color-time: #172953;
    --ligth-color-h1: #175cff;
    --ligth-color-container: #f1f1f1;
    --ligth-color-separator-miliseconds: #525763;
}

body{
    color: #fff;    
    /* background-color: #000; */
    background-color: #1c262f;
    /* overflow: hidden; */
}



.container{
    width: 700px;	
    height: auto;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;    
    margin: 10rem auto;
    gap: 2rem;
    border: 1px solid #333E43;
    border-radius: 20px;
    /* background-color: #333E43; */
    background-color: #2d3740;
}

.ligth{
    color: var(--ligth-color-container);
}

.container h1{
    font-size: 2.5  rem;    
    color: #175cff;
}

.ligth-h1{
    color: var(--ligth-color-h1);    
}


.timer{
    font-size: 70px;
    /* font-weight: bold; */
    text-align: center;
    display: flex;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00fd32;
    margin-right: 10px;
    min-width: 90px;
}
.ligth-time{
    
    color: var(--ligth-color-time);
}

.separator{
    padding: 0 10px;
    /* color: #00fd04; */
    color: var(--ligth-color-container);
}

.ligth-separator{
    color: var(--ligth-color-separator-miliseconds);
}

#miliseconds{
    font-size: 30px;
    color: #00fd32;
}

#ligth-miliseconds{
    color: var(--ligth-color-separator-miliseconds);
}

.btns{
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1rem;
}

.btn{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}

#tempo {    
    width: 690px;
    font-size: 1.2rem;
    background-color: #1c262f;
    margin: 1rem;
    padding: 1rem;
    /* display: none; */

    border-radius: 15px;   
     
}



/* #tempo{
    font-size: 15px;
    background-color: #1c262f;
    color: #f1f1f1;

    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem;
    flex-direction: column;
} */


#starBtn{
    background-color: #175cff;
    color: #f1f1f1;
    padding: 0.3rem 3rem;
}

#lapBtn {
    background-color: #00fd32;
    color: #000;
    font-size: 35px;
    padding: 0.3rem 3rem;

}

#pauseBtn{
    background-color: #993333;
    color: #f1f1f1;
}

#resetBtn{
    background-color: #f74d4d;
    color: #f1f1f1;
}

#resumeBtn{
    background-color: #ff6d19;
    color: #f1f1f1;
}

#pauseBtn,
#resumeBtn{
    display: none;
}