@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


*{
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-body: #1c262f;
    --color-container: #2d3740;
    --box-shadow-container: rgba(77,92,107,0.14);
    --color-ul-lista: #1c262f;
    /* Titulo */
    --color-h1: #175cff;
    /*   cronômetro  */
    --color-time: #00fd32;
    --color-separador: #f1f1f1;
    --color-separator-miliseconds: #00fd32;
    --color-separator-miliseconds2:  #C8C9B5;
    /*   botões  */
    --color-iniciar:  #175cff;
    --color-pause:  #993333;
    --color-reiniciar:  #f74d4d;
    --color-continue:  #ff6d19;
    --color-tempo:  #00fd32;
    --color:  #f1f1f1;
    --color-icon: #f1f1f1;
}

.dark-mode:root{
    --color-body: #fafafa;
    --color-container: #f1f1f1;
    --box-shadow-container: rgba(153,153,153,1);
    --color-ul-lista: #4d5c6b;
    /* Titulo */
    --color-h1: #175cff;
    /*   cronômetro  */
    --color-time: #172953;
    --color-separador: #a0a0a0;
    --color-separator-miliseconds: #1b3f92;
    --color-separator-miliseconds2:  #C8C9B5;
    /*   botões  */
    --color-iniciar:  #0655ff;
    --color-pause:  #F20505;
    --color-reiniciar:  #CF1F33;
    --color-continue:  #38ff77;
    --color-tempo:  #F26800;
    --color:  #000000;
    --color-icon: #203448;
}

body{
    color: #fff;        
    background-color: var(--color-body);
    transition: .3s;
}





.container{
    width: 700px;	
    height: auto;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;    
    margin: 5rem auto;
    gap: 2rem;
    border-radius: 20px;    
    background-color: var(--color-container);

    /* box-shadow */
    -webkit-box-shadow: 10px 10px 9px 0px rgba(77,92,107,0,14);
    -moz-box-shadow: 10px 10px 9px 0px rgba(77,92,107,0,14);
    box-shadow: 10px 10px 9px 0px var(--box-shadow-container);
}


.container h1{
    font-size: 2.5  rem;    
    color: var(--color-h1);

}

input[type="checkbox"]{
    display: none;
}

label{
    display: flex;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.bi{
    font-size: 22px;
    cursor: pointer;
    /* color: #203448; */
}

.bi-moon-stars-fill{
    display: none;
}

.dark-mode .bi-brightness-high-fill{
    display: none;
}

.dark-mode .bi-moon-stars-fill{
    display: block;
    color: var(--color-icon);
}


.timer{
    font-size: 70px;    
    text-align: center;
    display: flex;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-time);
    margin-right: 10px;
    min-width: 90px;
}


.separator{
    padding: 0 10px;    
    color: var(--color-separador);
}

#miliseconds{
    font-size: 30px;
    color: var(--color-separator-miliseconds);
}
.btns{
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1rem;
}

.btn{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}

#tempo {    
    width: 690px;
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem;
    /* display: none; */
    background-color: var(--color-ul-lista);
    
    border-radius: 15px;   
}
.voltar {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 1rem 1rem;
}


#starBtn{
    background-color: var(--color-iniciar);
    color:var(--color);
    padding: 0.3rem 3rem;
}


#lapBtn {
    background-color: var(--color-tempo);
    color: #222;
    font-size: 35px;
    padding: 0.3rem 3rem;
}

#pauseBtn{
    background-color: var(--color-pause);
    color:var(--color);
}

#resetBtn{
    background-color: var(--color-reiniciar);
    color: var(--color);
}

#continueBtn{
    background-color: var(--color-continue);
    color: var(--color);
}

#pauseBtn,
#continueBtn{
    display: none;
}